@import "./../variables.module.scss";

.image_container {
  width: 100%;

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
