.product-filters-box {
  width: 100%;
  h4 {
    font-size: 26px;
    line-height: 18px;
    color: #a4a4b8;
  }

  .filter-main-box {
    margin-top: 40px;
    width: 100%;
    h6 {
      font-size: 20px;
      line-height: 24px;
      color: #292d32;
      padding-bottom: 10px;
      border-bottom: 2px solid #f5f5fc;
    }
    .filter-options-box {
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      display: inline-block;
      width: 100%;
      .options-div {
        display: inline-block;
        width: 100%;
        &.size {
          width: 50%;
        }
        &.colors {
          width: 20%;
          label {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background-color: transparent;
          }
        }
      }
    }
  }
}
