$primary-color: #64ff00;

$ac_white: #ffffff;
$ac_white_1: #fcfcff;
$ac_primary: #292d32;
$ac_secondary: #ff7900;
$ac_light_blue: #2569f3;
$ac_dark_gray: #a4a4b8;
$ac_dark_gray_1: #707070;
$ac_dark_gray_2: #0000001a;
$ac_dark_gray_3: #00000029;
$ac_box: #f5f5fc;
$ac_box_1: #a4a4b81a;
$ac_box_2: #e8e8ee;
$ac_box_3: #f2f2f8;
$ac_arrow: #292d321a;
$ac_black: #000000;
$ac_black_1: #222222;
$ac_black_2: #3e3e3e;

$ac_font_regular: 400;
$ac_font_medium: 500;
$ac_font_semibold: 600;
$ac_font_bold: 700;
