.deal-top-section {
  background-color: #f5f5fc;
  padding: 50px 0;

  h2 {
    text-align: center;
    font-size: 36px;
    color: #292d32;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    font-size: 18px;
    color: #707070;
  }

  .deal-top-list {
    margin-top: 20px;
  }
}
